@import "../../colors.scss";

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: 500ms;
  opacity: 0;
  pointer-events: none;

  &_cancel {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 3%;
    right: 5%;
    z-index: 200;

    svg {
      width: 40px;
      height: 40px;
      background-color: $white1;
      border-radius: 50%;
    }
  }

  &_content {
    border-radius: 40px;
    background-color: $white1;
    transition: 300ms all;
    height: max-content;

    &.rightTop {
      position: absolute;
      top: 120px;
      right: 50px;
    }

    &.active {
      // transform: scale(1);
      height: max-content;
    }

    &.background {
      background-color: unset;
    }
  }

  &.active {
    opacity: 1;
    pointer-events: all;
    z-index: 100;
  }
}

@media screen and (max-width: 430px) {
  .modal {
    &_content {
      border-radius: 0px;
      overflow: scroll;

      &.active {
        padding-top: 10px;
        align-self: flex-start;
        height: calc(100vh - 60px);
      }

      &.rightTop {
        border-radius: 40px;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        height: max-content;
      }
    }
  }
}
