@import "../../../colors.scss";

.copyButton {
  display: flex;
  align-items: center;
  gap: 16px;

  &_text {
    position: relative;
    color: $text;
    padding: 5px 10px 5px 10px;

    &:hover {
      border-radius: 10px;
      border: $purple 1px solid;
      background-color: $purple;
      color: $white1;
    }
  }

  &_icon {
    width: 40px;
    height: 40px;
    background-color: $orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 24px;
      height: 24px;
      * {
        fill: $white1;
      }
    }
  }

  &_modal {
    position: absolute;
    opacity: 0;
    transition: 300ms all;
    width: max-content;
    top: 46px;
    overflow: hidden;
    z-index: -10;
    color: $text;

    &.active {
      opacity: 1;
      display: block;
      position: absolute;
      background-color: $white1;
      padding: 10px;
      z-index: 10;
      border: 1px solid $purple;
      border-radius: 10px;
    }
  }
}
