@import "../../colors.scss";

.sideMenu {
  background-color: $purple;
  display: flex;
  flex-direction: column;
  width: 410px;
  min-height: 100vh;
  gap: 50px;

  padding: 70px 20px 70px 20px;
  position: relative;
  overflow: hidden;

  transition: all 300ms ease;
  justify-content: space-between;
  height: 100vh;

  &.deactivate {
    width: 100px;

    .sideMenu {
      &_nav {
        &_button {
          h5 {
            transition: all 200ms ease;
            opacity: 0;
          }
        }
      }
    }
  }

  &_nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 325px;
    gap: 8px;

    &_button {
      display: flex;
      padding: 16px 10px;
      align-items: center;
      gap: 24px;
      border-radius: 40px 0px 0px 40px;
      color: $gray2;
      width: 100%;
      cursor: pointer;

      &_icon {
        width: 40px;
        height: 40px;
        & * {
          fill: $gray2;
        }
      }
    }

    .active_link {
      color: $purple;
      background-color: $background;
    }

    .active_link .sideMenu_nav_button_icon * {
      fill: $purple;
    }
  }

  &_header {
    color: $white1;
    text-align: center;
    display: flex;
    gap: 16px;
    align-items: center;
    // justify-content: center;

    justify-content: flex-start;
    width: 100%;
    padding: 5px;

    overflow: hidden;
    position: relative;
    // transition: all 300ms ease-in-out;

    &_logo {
      width: 48px;
      height: 48px;
      flex-shrink: 0;
      border-radius: 16px;
      background: $orange;
    }

    &_title {
      // position: absolute;
      opacity: 0;
      pointer-events: none;
      white-space: nowrap;

      &.active {
        position: relative;
        opacity: 1;
      }
    }
  }

  &_control {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &_menuIcon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    position: absolute;
    top: 15px;
    right: 50px;
    transform: translateX(50%);

    &_bar {
      width: 100%;
      height: 4px;
      background-color: $white1;
      transition: all 0.3s ease;
      border-radius: 500px;
    }

    .cross &_bar:nth-child(1) {
      transform: translateY(9px) rotate(45deg);
    }

    .cross &_bar:nth-child(2) {
      opacity: 0;
    }

    .cross &_bar:nth-child(3) {
      transform: translateY(-9px) rotate(-45deg);
    }
  }
}

@media screen and (max-width: 1700px) {
  .sideMenu {
    position: fixed;
    z-index: 200;
  }
}

@media screen and (max-width: 1024px) {
  .sideMenu {
    &.deactivate {
      width: 80px;
      .sideMenu {
        &_nav {
          &_button {
            width: 70px;
          }
        }
      }
    }

    &_nav {
      &_button {
        padding: 16px 16px;
      }
    }

    &_menuIcon {
      width: 35px;
      height: 35px;
      right: 24px;
    }
  }
}
