$background: #f3f4ff;
$purple: #4d44b5;
$gray0: #f5f5f5;
$gray1: #a098ae;
$gray2: #c1bbeb;
$gray3: #a098ae;
$green: #4CBC9A;
$main: #363B64;
$orange: #FB7D5B;
$red: #FF4550;
$text: #303972;
$white1: #FFFFFF;
$white2: #FCFCFC;
$yellow: #FCC43E;

